.content-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-card__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.content-card__body {
  flex: 1;
}