.page-shell {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.page-shell__title {
  margin: 0;
  font-size: medium;
}

.page-shell__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
